*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1{
}

#section-2{
  flex: 80px; /*reorganizar o tamanho do item no container*/
}

#section-3{
  flex: 120px; /*para o tamanho: ele deu 200. dividi 200 por 5 e dpois fui somando o resultado da divisão. 40x3=120*/
}

#section-4{
  flex: 200px;
}

#section-5{
  order: -1; /*para colocar no canto esquerdo*/
}